test/*.o
vamp/*.o
src/*.o
*.a
*.so
src/dsp/*.o
src/ext/*.o
src/ext/kissfft/*.o
test/TestCQFrequency
test/TestCQKernel
test/TestCQTime
test/TestFFT
test/TestMathUtilities
test/TestResampler
test/TestWindow
test/processfile
src/ext/kissfft/tools/*.o
